* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
    height: 100px;
}

.pdf-controls {
    width: 100%;
    background: #C1C1C1;
    border-radius: 10px;
    padding: 1em;
}

.fixed {
    position: fixed;
    top: 0;
    left: calc(50% - 480px);
    z-index: 100;
    width: 100%;
    padding: 1em;
    background: #C1C1C1;
    border-radius: 10px;
    width: 960px;
}

#reader {
    z-index: 100;
    opacity: 0;
}
.chatRoom{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  visibility: hidden;
}
#notice{
bottom: 50px;
left: 50%;
}

#message{
  bottom: 0px;
  width: 100%
}
#connectedUsers{
  color: red;
}
