<% layout('boilerplate') -%>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Booker</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/books">Books</a></li>
            <li class="active"><a href="/authors">Authors</a></li>
        </ul>
    </div>
</nav>
    <div ng-controller="authorsController">
        <h1>authors page</h1>
        <br>

        <div class="container">
            <div class="form-group">
                <input type="text" class="form-control" id="name" ng-model="search.fName" placeholder="Search name..." />
                <select class="form-control" ng-model="authorOrder"  ng-init="fName">
                                            <option  value="fName">Name(ASC)</option>
                                            <option value="-fName">Name(DEC)</option>
                </select>

            </div>
            <div class="row">
                <div ng-repeat="author in authors| filter : search | orderBy: authorOrder" class="thumbnail">
                  <a  href="/author/{{author._id}}">
                    <h3>author:</h3>
                    <h5>{{author.fName}}</h5>
                </div>
            </div>

        </div>
    </div>
