<% layout('boilerplate') -%>
<section id="content" >
	<section class="vbox" >
		<section class="">
			<div id="masonry" class="pos-rlt animated fadeInUpBig" style="height:100%">
				<div class="item active">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info">
						<div class="center text-center m-t-n"> <a href="/bookGenres/History"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom wrapper bg-info gd">
						<div class="m-t m-b"><a href="/bookGenres/History" class="b-b b-danger h2 text-u-c text-lt font-bold">History</a></div>
					</div>
					<a href="/bookGenres/history"><img src="/template/images/t2.jpg" alt="" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Mystery"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper">
						<div class="m-t m-b"><a href="/bookGenres/Mystery" class="b-b b-info h4 text-u-c text-lt font-bold">Mystery</a></div>
					</div>
					<a href="/bookGenres/Mystery"><img src="/template/images/t31.jpg" height="432px"alt="" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Horror"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper">
						<div class="m-t m-b"><a href="/bookGenres/Horror" class="b-b b-warning h4 text-u-c text-lt font-bold">Horror</a></div>
					</div>
					<a href="/bookGenres/Horror"><img src="/template/images/t10.jpg" alt="" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Philosophy"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper">
						<div class="m-t m-b"><a href="/bookGenres/Philosophy" class="b-b b-danger h4 text-u-c text-lt font-bold">Philosophy</a></div>
					</div>
					<a href="/bookGenres/Philosophy"><img src="/template/images/t11.jpg" alt="" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Romance"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper">
						<div class="m-t m-b"><a href="/bookGenres/Romance" class="b-b b-info h4 text-u-c text-lt font-bold">Romance</a></div>
					</div>
					<a href="/bookGenres/Romance"><img src="/template/images/t3.jpg" alt="" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Health"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper">
						<div class="m-t m-b"><a href="/bookGenres/Health" class="b-b b-info h4 text-u-c text-lt font-bold">Health</a></div>
					</div>
					<a href="/bookGenres/Health"><img src="/template/images/t1.png" alt="" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Comedy"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper">
						<div class="m-t m-b"><a href="/bookGenres/Comedy" class="b-b b-info h4 text-u-c text-lt font-bold">Comedy</a></div>
					</div>
					<a href="/bookGenres/Comedy"><img src="/template/images/t13.jpg" alt="" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info" style="height:446px !important">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Art"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper"  style="margin-bottom:-25px !important">
						<div class="m-t m-b"><a href="/bookGenres/Art" class="b-b b-warning h4 text-u-c text-lt font-bold">Art</a></div>
					</div>
					<a href="/bookGenres/Art"><img src="/template/images/t30.jpg" alt="" height="446px" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info" style="height:230px !important">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Travel"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper" style="margin-bottom:-25px !important">
						<div class="m-t m-b"><a href="/bookGenres/Travel" class="b-b b-info h4 text-u-c text-lt font-bold">Travel</a></div>
					</div>
					<a href="/bookGenres/Travel"><img src="/template/images/m19.jpg" height="230px" alt="" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info" style="height:230px !important">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Science-fiction"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper" style="margin-bottom:-25px !important">
						<div class="m-t m-b"><a href="/bookGenres/Science-fiction" class="b-b b-info h4 text-u-c text-lt font-bold">Science-fiction</a></div>
					</div>
					<a href="/bookGenres/Science-fiction"><img src="/template/images/t12.jpg" height="230px" alt="" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info" style="height:230px !important">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Law"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper" style="margin-bottom:-25px !important">
						<div class="m-t m-b"><a href="/bookGenres/Law" class="b-b b-info h4 text-u-c text-lt font-bold">Law</a></div>
					</div>
					<a href="/bookGenres/Law"><img src="/template/images/t15.jpg" height="230px" alt="" class="img-full"></a>
				</div>
				<div class="item">
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info" style="height:230px !important">
						<div class="center text-center m-t-n"> <a href="/bookGenres/Finance"><i class="icon-magnifier i-2x"></i></a> </div>
					</div>
					<div class="bottom gd bg-info wrapper" style="margin-bottom:-25px !important">
						<div class="m-t m-b"><a href="/bookGenres/Finance" class="b-b b-info h4 text-u-c text-lt font-bold">Finance</a></div>
					</div>
					<a href="/bookGenres/Finance"><img src="/template/images/t14.jpg" height="230px" alt="" class="img-full"></a>
				</div>
				<div class="item" >
					<div class="item-overlay opacity animated fadeInDown wrapper bg-info" style="height:230px !important">
									<div class="center text-center m-t-n"> <a href="/bookGenres/Religion"><i class="icon-magnifier i-2x"></i></a> </div>
								</div>
					<div class="bottom gd bg-info wrapper" style="margin-bottom:-25px !important">
						<div class="m-t m-b"><a href="/bookGenres/Religion" class="b-b b-primary h4 text-u-c text-lt font-bold">Religion</a></div>
					</div>
					<a href="/bookGenres/Religion"><img src="/template/images/t18.jpg" alt="" height="230px" class="img-full"></a>
				</div>

			</div>

		</section>
	</section>
</section>
