<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Main homepage non auth users</h1>

    <a href="/auth/signIn">Login</a>
    <a href="/auth/signUp">Register</a>

  </body>
</html>
