<% layout('boilerplate') -%>

    <section class="scrollable " ng-controller="readerController" ng-init="currentUser='<%-currentUser%>';currentBookId='<%-libbook%>'">
        <div id="reader">
            <div class="wrapper">
                <ng-pdf template-url="/partials/viewer.html" canvasid="pdf" scale="page-fit" page=<%-currentPage%> ></ng-pdf>
            </div>
        </div>  
        <section class="panel panel-default ui " style="margin-left:20px; margin-right:20px">
            <header class="panel-heading font-bold">
                <h1>{{currentBook.book.title}}</h1>
            </header>
            <div class="panel-body">
                <h5 class="font-bold">Info</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#"> <span class=" pull-right">{{currentBookAuthor.fName}} {{currentBookAuthor.lName}}</span> Author </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#"> <span class=" pull-right">{{currentBook.book.genre}}</span> Genre </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#"> <span class="badge pull-right">{{currentBook.lastReadDate}}</span> Last read date </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#"> <span class="badge pull-right">{{currentBook.lastPage}}</span> Last read page </a>
                    </li>
                </ul>
                <a href="#" class=" ui btn btn-s-md btn-info btn-rounded" id="showReaderButton" ng-click="ngReaderStart(currentBook.book.pdfUrl,currentBook.book.title,currentBook.book._id,currentBook.lastPage)" onclick="showReader()">Resume reading</a>
            </div>
        </section>
