<!DOCTYPE html>
<html lang="en" class="app">
	<!-- Mirrored from flatfull.com/themes/musik/events.html by HTTrack Website Copier/3.x [XR&CO'2013], Tue, 20 Dec 2016 20:05:57 GMT -->
	<head>
		<meta charset="utf-8" />
		<title>Musik | Web Application</title>
		<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" href="/lib/animate/animate.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/lib/sweetalert/sweetalert.css">
		<link rel="stylesheet" href="/template/css/app.v1.css" type="text/css" />
	</head>
	<body ng-app="app" ng-controller="homeController" ng-init="currentUser='<%-currentUser%>'">
		<script type="text/javascript" src="/lib/momentjs/moment.js"></script>
		<script type="text/javascript" src="/lib/chart/Chart.min.js"></script>
		<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="/lib/chart/tc-angular-chartjs.min.js"></script>
		<script type="text/javascript" src="/js/utility/ui.js"></script>
		<script type="text/javascript" src="/js/utility/chat.js"></script>
		<script type="text/javascript" src="/lib/sweetalert/sweetalert.min.js"></script>
		<script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/lib/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/lib/momentjs/moment.js"></script>
		<script type="text/javascript" src="/lib/angular/angular-resource.min.js"></script>
		<script type="text/javascript" src="/lib/angular/angular-animate.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/controllers/statsController.js"></script>
		<script type="text/javascript" src="/js/controllers/profileController.js"></script>
		<script type="text/javascript" src="/js/controllers/booksController.js"></script>
		<script type="text/javascript" src="/js/controllers/bookController.js"></script>
		<script type="text/javascript" src="/js/controllers/authorsController.js"></script>
		<script type="text/javascript" src="/js/controllers/authorController.js"></script>
		<script type="text/javascript" src="/js/controllers/homeController.js"></script>
		<!-- READER SCRIPTS -->
		<script type="text/javascript" src="/lib/pdfjs/pdf.js"></script>
		<script type="text/javascript" src="/js/controllers/readerController.js"></script>
		<script type="text/javascript" src="/js/directives/angular-pdf.js"></script>
		<!-- /.aside -->


		<!-- ****************************************CONTENT**************************************************** -->
		<section class="vbox paymentPage" id="mainPageNav" ng-show="user.type !== 'premium' && reminder == false ">
			<section id="content" class="m-t-lg wrapper-md animated fadeInDown ">
				<div class="container aside-xxl">
					<h1 class="navbar-brand block paymentPageText"><span class="h1 font-bold ">Booker</span></h1>
					<h1 class="paymentPageText">You are currently using a {{user.type}} account </h1>
					<h2 class="paymentPageText">For only 20$ you can get a premium account to access all books</h2>
					<br>
					<form method="post" action="/paypal/pay/">
						<button type="submit" class="btn btn-lg btn-success  b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Switch to Premium</span></button>
					</form>
					<br>
					<button id="paymentPageClose" ng-click="closePaymentPage()" type="submit" class="btn btn-lg btn-default  b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Remind me later</span></button>
				</div>
			</section>
		</section>
		<section class="vbox" id="mainPageContent">
			<section>
				<section class="hbox stretch">
					<aside class="bg-dark dk nav-xs aside hidden-print ui" id="nav">
						<section class="vbox">
							<section class="w-f-md scrollable">
								<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 253px;">
									<div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railopacity="0.2" style="overflow: hidden; width: auto; height: 253px;">
										<!-- nav -->
										<nav class="nav-primary hidden-xs">
											<ul class="nav bg clearfix">
												<li>
													<div class="navbar-header aside bg-info dk nav-xs">
														<a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html"> <i class="icon-list"></i> </a>
														<a href="/" class="navbar-brand text-lt"> <i class="icon-book-open"></i> <span class="hidden-nav-xs m-l-sm">Booker</span> </a>
														<a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user"> <i class="icon-settings"></i> </a>
													</div>
												</li>
												<li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">  </li>
												<li>
													<a href="/"> <i class="icon-home"></i> <span class="font-bold">Home</span> </a>
												</li>
												<li>
													<a href="/books"> <i class="icon-notebook icon "></i> <span class="font-bold">Books</span> </a>
												</li>
												<li>
													<a href="/authors"> <i class="fa fa-pencil"></i><span class="font-bold">Authors</span> </a>
												</li>
												<li>
													<a href="/profile"> <i class="icon-user"></i> <span class="font-bold">Profile</span> </a>
												</li>
												<li>
													<a href="/stats"> <i class="icon-pie-chart"></i> <span class="font-bold">Stats</span> </a>
												</li>
												<li class="m-b hidden-nav-xs"></li>
											</ul>
											<ul class="nav text-sm">
												<li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted"> <span class="pull-right"></span></li>
												<li>
													<a href="/auth/logout"> <i class="icon-logout"></i> <span>Logout</span> </a>
												</li>
											</ul>
										</nav>
										<!-- / nav -->
									</div>
									<div class="slimScrollBar" style="width: 10px; position: absolute; top: -285px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 0px; height: 128.018px; background: rgb(0, 0, 0);"></div>
									<div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 0px; background: rgb(51, 51, 51);"></div>
								</div>
							</section>
						</section>
					</aside>
					<section id="content">
						<!-- CONTENT -->
						<!-- top rated authors top rated books most read books most read authors top readers -->
						<section class="hbox stretch">
							<section>
								<section class="vbox">
									<section class="scrollable padder-lg " id="bjax-target">
										<div class="row">
											<div class="col-md-6">
												<h3 class="font-thin">Top Rated Books</h3>
												<div class="row row-sm">
													<div ng-repeat="book in topRatedBooks| limitTo: 8" class="col-xs-6 col-sm-3">
														<div class="item">
															<div class="pos-rlt">
																<div class="item-overlay opacity r r-2x bg-black">
																	<div class="center text-center m-t-n"> <a href="/book/{{book.book._id}}"><i class="icon-book-open i-2x"></i></a> </div>
																</div>
																<a href="/book/{{book.book._id}}"><img ng-src="Images/{{book.book.imageUrl}}" width="135" height="135" alt="" class="r r-2x img-full"></a>
															</div>
															<div class="padder-v"> <a href="/book/{{book.book._id}}" class="text-ellipsis">{{book.book.title}}</a> <a href="/author/{{book.book.author._id}}" class="text-ellipsis text-xs text-muted">{{book.book.author.fName}} {{book.book.author.lName}}</a> </div>
														</div>
													</div>

												</div>
											</div>
											<div class="col-md-6">
												<h3 class="font-thin">Top Rated Authors</h3>
												<div class="list-group bg-white list-group-lg no-bg auto">
													<a ng-repeat="author in topRatedAuthors | limitTo : 5" href="/author/{{author.author._id}}" class="list-group-item clearfix">
                            <span class="pull-right h2 text-muted m-l"> {{author.average}}</span> <span class="pull-left thumb-sm avatar m-r"> <img ng-src="/Images/{{author.author.imageUrl}}" alt="..."> </span> <span class="clear"> <span>{{author.author.fName}} {{author.author.lName}}</span> <small class="text-muted clear text-ellipsis"> {{author.author.birthDate}} - {{author.author.deathDate}}</small>                                                    </span>
													</a>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-8">
												<h3 class="font-thin">Popular books</h3>
												<div class="row row-sm">
													<div ng-repeat="book in popularBooks | limitTo : 8" class="col-xs-6 col-sm-3">
														<div  class="item">
															<div class="pos-rlt">
																<div class="item-overlay opacity r r-2x bg-black">
																	<div class="center text-center m-t-n"> <a  href="/book/{{book.book._id}}"><i class="icon-book-open i-2x"></i></a> </div>
																</div>
																<a href="/book/{{book.book._id}}"><img ng-src="Images/{{book.book.imageUrl}}" width="187" height="187" alt="" class="r r-2x img-full"></a>
															</div>
															<div class="padder-v"> <a href="/book/{{book.book._id}}" class="text-ellipsis">{{book.book.title}}</a> <p class="text-ellipsis text-xs text-muted">genre : {{book.book.genre}} </p> </div>
														</div>
													</div>

												</div>
											</div>
                      <div class="col-md-4">
                        <div class="line line-lg"></div>

                        <div class="row m-t-lg m-b-lg">
                          <div class="col-sm-12">
                            <div class="bg-primary wrapper-md r">
                              <a href="/books"> <span class="h4 m-b-xs block"><i class=" icon-user i-lg"> </i> View All Books</span> <span class="text-muted">Browse all books</span></a>
                            </div>
                          </div>
                          <div class="col-sm-12" style="margin-top : 50px">
                            <div class="bg-black wrapper-md r">
                              <a href="/authors"> <span class="h4 m-b-xs block"><i class="icon-book-open i-lg"> </i>View All Authors</span> <span class="text-muted">Browse all authors</span></a>
                            </div>
                          </div>
                        </div>
                      </div>
										</div>

									</section>
								</section>
							</section>
						</section>
						<!-- CONTENT -->
					</section>
				</section>
			</section>
		</section>
		<!-- ****************************************CONTENT**************************************************** -->
		<!-- Bootstrap -->
		<!-- App -->
		<!-- <script src="/template/js/app.v1.js"></script>
		<script src="/template/js/app.plugin.js"></script> -->
	</body>
</html>
