<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>hello auth</h1>

    <div>
      <a href="/auth/signIn">Login</a>
      <span>Sign up</span>
      <form name="signUpForm"action="/auth/signUp" method="post">
        <input  name="fName" id="fName" placeholder="fName">
        <input  name="lName" id="lName" placeholder="lName">
        <input  name="email" id="email" placeholder="email">
        <input  name="adress" id="adress" placeholder="adress">
        <input  name="birthDate" id="birthDate" placeholder="birthDate">
        <input  name="userName" id="userName" placeholder="userName">
        <input  name="password" id="password" placeholder="Password">
        <input  type="submit">
      </form>
    </div>

  </body>
</html>
