<!DOCTYPE html>
<html lang="en" class="bg-info">

<head>
    <meta charset="utf-8" />
    <title>Booker | Sign Up</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/template/css/app.v1.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/lib/sweetalert/sweetalert.css">


</head>

<body ng-app="app" class="bg-info" ng-controller="signUpController">
    <section id="content" class="m-t-lg wrapper-md animated fadeInDown">
        <div class="container aside-xl"> <a class="navbar-brand block"><span class="h1 font-bold"><i class="icon-book-open"></i> Booker</span></a>
            <section class="m-b-lg">
                <header class="wrapper text-center"></header>
                <form data-validate="parsley" id="signUpForm" name="signUpForm" action="/auth/signUp" method="post">
                    <div class="form-group">
                        <input name="fName" id="fName" placeholder="First Name" class="form-control rounded input-lg text-center no-border parsley-validated" data-rangelength="[4,15]" data-required="true">
                    </div>
                    <div class="form-group">
                        <input name="lName" id="lName" placeholder="Last Name" class="form-control rounded input-lg text-center no-border parsley-validated" data-rangelength="[4,15]" data-required="true">
                    </div>
                    <div class="form-group">
                        <input name="email" id="email" placeholder="Email" class="form-control rounded input-lg text-center no-border parsley-validated" data-type="email" data-required="true">
                    </div>
                    <div class="form-group">
                        <input name="userName" ng-model="userName" ng-blur="focusOut()" id="userName" placeholder="Username" class="form-control rounded input-lg text-center no-border parsley-validated" data-rangelength="[4,15]" data-required="true">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control rounded input-lg text-center no-border parsley-validated" data-parsley-required data-regexp="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
                    </div>

                    <div class="form-group">
                        <input type="password" name="passwordConfirmation" data-equalto="#password" placeholder="Confirm Password" class="form-control rounded input-lg text-center no-border parsley-validated" data-parsley-required data-regexp="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
                    </div>
                    <br>
                    <div class="form-group">
                    </div>
                    <ul class="parsley-error-list" style="display: block;">
                        <li class="required" style="display: list-item;">For security measures the password should be at least 8 characters long and contain at least a number and an uppercase character</li>
                    </ul>
                    <br>
                    <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign up</span></button>
                    <div class="line line-dashed"></div>
                    <a href="/auth/signIn" class="btn btn-lg btn-info btn-block btn-rounded">Sign in</a>

                  </form>
            </section>
        </div>

    </section>

    <script src="/template/js/app.v1.js"></script>
    <script src="/template/js/app.plugin.js"></script>
    <script src="/template/js/parsley/parsley.min.js"></script>
    <script src="/template/js/parsley/parsley.extend.js"></script>
    <script type="text/javascript" src="/js/utility/signupInterface.js"></script>
    <script type="text/javascript" src="/lib/sweetalert/sweetalert.min.js"></script>

    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/pdfjs/pdf.js"></script>
    <script type="text/javascript" src="/js/directives/angular-pdf.js"></script>
    <script type="text/javascript" src="/lib/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="/lib/chart/Chart.min.js"></script>
    <script type="text/javascript" src="/lib/chart/tc-angular-chartjs.min.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/signUpController.js"></script>

</body>

</html>
