<% layout('boilerplate') -%>

    <div ng-controller="statsController" ng-init="currentUser='<%-currentUser%>';init()">
        <div id="content">

            <div class="row">
                <!-- <div class="col-lg-6">
            <canvas
            tc-chartjs-pie
            chart-data="myData"
            chart-options="myOptions"
            chart-click="onChartClick(event)"
            ></canvas>
          </div> -->
                <div class="col-lg-6">
                    <h1>This month</h1>
                    <canvas tc-chartjs-polararea chart-data="pagePerDateMonth"></canvas>
                </div>
                <!-- <div class="col-lg-8">
                    <h1>Pages per date</h1>
                    <canvas tc-chartjs-line chart-data="pagePerDate"></canvas>
                </div> -->
                <!-- <div class="col-lg-8">
                    <h1>Projected speed per date</h1>
                    <canvas tc-chartjs-line chart-data="pageMinutesPerDate"></canvas>
                </div> -->
                <!-- <div class="col-lg-6">
                    <h1>Time reading each book by minutes</h1>
                    <canvas tc-chartjs-pie chart-data="timeSpentBook"></canvas>
                </div> -->
                <!-- <div class="col-lg-6">
                    <h1>Time reading each author by minutes</h1>
                    <canvas tc-chartjs-pie chart-data="timeSpentAuthor"></canvas>
                </div> -->
                <!-- <div class="col-lg-4">
                    <h1>Time reading each author by minutes</h1>
                    <canvas tc-chartjs-pie chart-data="preferenceAuthor"></canvas>
                </div> -->
                <!-- <div class="col-lg-4">
                    <h1>Time reading each author by minutes</h1>
                    <canvas tc-chartjs-pie chart-data="preferenceGenre"></canvas>
                </div> -->
            </div>
        </div>

    </div>
