<% layout('adminBoilerplate') -%>
    <section id="content">
        <section class="hbox stretch" ng-controller="adminBooksController">
            <section>
                <section class="vbox">
                    <section class="scrollable padder-lg" id="bjax-target">
                        <br>
                        <section class="panel panel-default">


                            <header class="panel-heading">Books  </header>
                            <input ng-model="search" type="text" class="form-control input-sm no-border rounded" placeholder="Find by title, author, date ">


                            <div class="table-responsive">
                                <table class="table table-striped b-t b-light">
                                    <thead>
                                        <tr>
                                            <th class="th-sortable" data-toggle="class">Id</th>
                                            <th class="th-sortable" data-toggle="class">Title </th>
                                            <th>Author</th>
                                            <th>Written Date</th>
                                            <th>Genre</th>
                                            <th>Type</th>
                                            <th>Url</th>
                                            <th>Update</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="book in books | filter : search  ">
                                            <td>{{book._id}}</td>
                                            <td>{{book.title}}</td>
                                            <td>{{book.author.fName}} {{book.author.lName}}</td>
                                            <td>{{book.date}}</td>
                                            <td>{{book.genre}}</td>
                                            <td>{{book.type}}</td>
                                            <td>{{book.pdfUrl}}</td>
                                            <td><a href="/admin/book/{{book._id}}" data-toggle="class"><i class="fa fa-cog text text-success"></i></a>
                                            <td><a href="#" ng-click="removeBook(book._id)" data-toggle="class"><i class="fa fa-times text-danger text"></i></a>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <div class="row">

                                    <div class="col-sm-10">
                                    </div>
                                    <div class="col-sm-2" style="margin-bottom : 8px">
                                        <a href="book/add" class="btn btn-s-md btn-success btn-rounded">Add new book</a>
                                    </div>
                                </div>


                            </div>
                            <!--array footer
            <footer class="panel-footer">
						</footer> -->
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
