<% layout('boilerplate') -%>

    <h1>Sign In</h1>
    <form name="signInForm" action="/auth/signIn" method="post">
        <input name="userName" id="userName" placeholder="userName">
        <input name="password" id="password" placeholder="Password">
        <input type="submit">
    </form>


    <div>
        <a href="/auth/signup">Create an account</a>
    </div>
